.filter span {
    color: var(--main-color);
    font-size: var(--font-size-body-mobile);
}

.filter-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: white;
    border: 2px solid var(--main-color);
    border-radius: 12px;
    /*gap: 2px;*/
    overflow: hidden;
}

.filter {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 2px solid var(--main-color);
}

.filter-content img {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
    margin-left: 5px;
    margin-right: 5px;
}

/*.filter:not(:last-child) {
    border-right: 2px solid var(--main-color);
}*/

/*.filter:hover, .filter.active {
    background-color: ;
} */

.main-save-button {
    padding: 6px 12px;
    font-size: var(--font-size-body-mobile);
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
}

.main-save-button:hover {
    background-color: var(--main-color-hover);
}

.filter-content {
    display: none;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    background-color: white;
    margin-bottom: 50px;
    position: relative;
}

.filter-content label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

.filter-content input[type="text"],
.filter-content input[type="range"],
.filter-content input[type="date"],
.filter-content select {
    width: calc(100% - 10px); 
    padding: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    box-sizing: border-box; 
}

.filter-content input[type="checkbox"] {
    margin-right: 5px;
}

#afstand-waarde {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
}

.select-box select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 150px;
}

.form-buttons {
    display: flex;
    align-items: center;
}

.save-button {
    padding: 8px 16px;
    font-size: var(--font-size-body-mobile);
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.save-button:hover {
    background-color: var(--main-color-hover);
}

.filter-content .filter-content-inner {
    position: relative;
}

.filter-content .form-buttons .save-button {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
}

.filter-content .form-buttons {
    margin-top: 50px;
}

@media only screen and (min-width: 768px) {

    .filter-bar {
        gap: 15px;
    }

    .filter span {
        font-size: 14px;
    }

    /*.filter-content label {
        font-size: 14px;
    }

    #afstand-waarde {
        font-size: 14px;
    } */
}
