body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

footer {
    margin-top: 100px;
    background-color: var(--main-color);
    color: var(--background-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}

.footer-section h4 {
    margin-bottom: 15px;
    color: var(--background-color);
    text-transform: uppercase;
}

.footer-section p, .footer-section a {
    color: var(--background-color);
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 16px;
}

.footer-bottom {
    text-align: center;
    padding: 12px;
    background-color: #0c264f;
}

.footer-bottom p {
    margin: 0;
    color: var(--background-color);
}