.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}

h2 {
    margin-top: 150px;
    margin-bottom: 20px;
    color: var(--main-color);
    font-size: var(--font-size-h2-mobile);
    text-align: center;
}

/*.meldingen h1 {
    margin-top: 0;
    font-size: var(--font-size-h1-mobile);
}*/

.button-bar {
    display: flex;
    flex-direction: column;
    width: 300px; 
    margin-bottom: 100px;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-color); 
    border-radius: 10px;
    margin-bottom: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    text-decoration: none; 
    color: inherit; 
}

h3 {
    color: var(--main-color);
    /*margin-left: 36px;*/
    margin-bottom: 10px; 
    font-size: var(--font-size-h3-mobile);
}

/*.content p {
    padding: 10px 0; 
}*/

.date {
    margin-top: 36px;
}

.button p {
    font-size: var(--font-size-body-mobile);
    margin: 0;
    flex: 1; 
    margin-left: 5px;
    color: var(--main-color);
    padding: 5px 0;
}


@media only screen and (min-width: 768px) {
    h2 {
        font-size: var(--font-size-h2);
    }

    .button-bar {
        width: 500px; 
    }

    h3 {
        font-size: var(--font-size-h3);
    }

    .button p{
        padding: 10px 0;
    }
}

@media only screen and (min-width: 1024px) {

    .button-bar {
        width: 800px; 
    }
}