.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}

h2 {
    margin-top: 150px;
    margin-bottom: 20px;
    color: var(--main-color);
    font-size: var(--font-size-h2-mobile);
    text-align: center;
}

.button-bar {
    display: flex;
    flex-direction: column;
    width: 350px; /* Aanpassen naar gewenste breedte */
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-color); 
    border-radius: 10px;
    margin-bottom: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    text-decoration: none; 
    color: inherit; 
    position: relative; /* Ensure positioning context for child elements */
}

.button img {
    width: 30px; 
    height: 30px; 
    margin-right: 10px;
}

.button p {
    margin: 0;
    flex: 1; 
    margin-left: 5px;
    color: var(--main-color);
}

.logout-link {
    margin-left: auto; /* Align to the right */
    margin-right: 10px;
}

.logout {
    color: var(--main-color); /* Adjust color as needed */
    text-decoration: none; /* Ensure no underline */
    font-size: var(--font-size-body-mobile);
}

p {
    font-size: var(--font-size-body-mobile);
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: var(--font-size-h2);
    }

    .button-bar {
        width: 500px; /* Aanpassen naar gewenste breedte */
    }

    .button p {
        padding: 10px 0;
    }

    p {
        font-size: var(--font-size-body);
    }

    .logout {
        font-size: var(--font-size-body);
    }
}

@media only screen and (min-width: 1024px) {
    .button-bar {
        width: 800px; /* Aanpassen naar gewenste breedte */
    }
}
