.container {
    display: flex;
    height: 100vh;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 20px;
    box-sizing: border-box;
}

form {
    max-width: 300px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: var(--main-color);
}

.form__error {
    color: red;
    margin-bottom: 10px;
}

.form__field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-black);
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: var(--color-black);
}

input[type="submit"] {
    width: 100%;
    background-color: var(--third-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--main-color);
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.image {
    display: none;
}

.image img {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .image {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    main {
        width: 50%;
    }

    .image img {
        content: url('../images/signin_login/afbeelding2.svg');
    }
}

@media only screen and (min-width: 1025px) {
    .image {
        width: 50%;
    }

    .image img {
        content: url('../images/signin_login/afbeelding1.svg');
    }
}
