@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fdfdfd;
}

.container {
    display: flex;
    height: 100vh;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
}

form {
    max-width: 300px;
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form__error {
    color: red;
    margin-bottom: 10px;
}

.form__field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #062b65;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #0056b3;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

.btn{
    font-size: 18px;
}

.image {
    display: none; 
}

    
.image img {
    max-width: 100%;
    height: auto;
}


@media only screen and (min-width: 768px){
    .image {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    main {
        width: 50%;
    }

    .image img {
        content: url('../images/afbeelding2.svg'); 
    }
}

@media only screen and (min-width: 1025px){
    .image {
        width: 50%;
    }

    .image img {
        content: url('../images/afbeelding1.svg'); 
    }
}


