.content {
    margin: 64px 24px;
    padding: 20px;
}

h1 {
    font-size: 1.4rem;
    color: var(--main-color);
}

h2 {
    font-size: 1.2rem;
    margin-top: 50px;
}

p {
    font-size: var(--font-size-body-mobile);
}

content h2 {
    color: var(--color-black);
}

.content h3 {
    color: var(--third-color);
    opacity: 50%;
}
.content p {
    margin: 10px 0;
}

.content ul {
    list-style-type: disc;
    margin: 10px 0 10px 20px;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-body-mobile);
}

.content ul li {
    margin-bottom: 10px;
}

.content a {
    color: var(--color-black);
    text-decoration: underline;
    font-size: var(--font-size-body-mobile);
}

.content a:hover {
    text-decoration: none;
}

@media only screen and (min-width: 786px) {

    p {
        font-size: var(--font-size-body);
    }

    .content a {
        font-size: var(--font-size-body);
    }

    .content ul {
        font-size: var(--font-size-body);
    }

    h1 {
        font-size: 1.6rem;
    }

    .content {
        margin: 100px 24px;
    }

    h2 {
        font-size: 1.4rem;
    }

}

@media only screen and (min-width: 1025px) {

    .content {
        margin-left: 126px;
        margin-right: 126px;
    }

}